<%= stylesheet_link_tag "pdf_viewer" %>
<div id="header">
	<h3>This is the header</h3>
</div>
<div id="main_container">
	<div>
		Container
	</div>
	<div id="left_box" class="internal_elements">
		Left Box
		<div id="new_pdf_form">
			<%= form_tag do%>
			
			
			<%end%>
		</div>
	</div>

	<div id="right_box" class="internal_elements">
		Right Box
		<div id="inner_right">
			<object type="application/pdf" src="test.pdf" style="width: 100%; height: 100%;"></object>
		</div>
	</div>

</div>
<div id="footer">
	Footer
</div>
